<%- model_class = Cliente -%>

    <ul class="breadcrumb">
    <li><a href="#"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></a> <span class="divider">/</span></li>
    <li><a href="#">Library</a> <span class="divider">/</span></li>
    <li class="active">Data</li>
    </ul>

<%= render :partial => 'form' %>
