<%- model_class = Cliente -%>

<ul class="breadcrumb">
	<li><strong><%= link_to model_class.model_name.human.pluralize.titleize, "/clientes"  %></strong>
	 <span class="divider">/</span></li>
	<li class="active"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></li>
</ul>
    
<%= render :partial => 'form' %>
