<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @profissao.descricao %>
</p>

<%= link_to 'Edit', edit_profissao_path(@profissao) %> |
<%= link_to 'Back', profissaos_path %>
