<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipocontacto.descricao %>
</p>

<%= link_to 'Edit', edit_tipocontacto_path(@tipocontacto) %> |
<%= link_to 'Back', tipocontactos_path %>
